.search{
    width:60%;
    box-shadow: 1px 2px 2px #2a3464,
                -1px -2px 2px #253066;
    padding: 2em;
    position: relative;
    margin: auto;
    input{
        width: 90%;
        background: none;
        border: 1px solid #fff;
        padding: .6em;
        outline: none;
    }
    .text{
        color: #fff;
    }
}