<div class="chat-header clear_fix">
    <div class="row">
        <div class="col-6">
            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                <img src="assets/avatar1.png" alt="avatar">
            </a>
            <div class="chat-about">
                <h6 class="m-b-0 text-light"  >{{user?.username }}</h6>
                <small class="text-light">Last seen: 2 hours ago</small>
            </div>
        </div>
        <div class="col-6 hidden-sm text-right">
            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
        </div>
    </div>
</div>
