<div class="wrapper-form login">
  <div class="wrapper-connect">
    <h1>you are welcome,stay smile</h1>
    <a href="#" class="btn btn-social btn-facebook"
      ><i class="fa fa-facebook"></i> Sign in with Facebook</a
    >
    <a href="#" class="btn btn-social btn-google"
      ><i class="fa fa-google"></i> Sign in with Google</a
    >
  </div>
  <div class="wrapper-classic">
    <form class="form">
      <fieldset class="email">
        <input type="email" placeholder="Email" />
      </fieldset>
      <fieldset class="password">
        <input type="password" placeholder="password" />
      </fieldset>
      <button type="submit" class="buttonNeomorphic"><span>login</span></button>
    </form>
    <div class="wrapper-auth">
         <span class="or">Or</span>
         <div>
              <button routerLink="signup" class="Btn">  <span>Sign Up</span> </button>
         </div>
    </div>
  </div>
</div>
